<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="CatsContext" providerName="System.Data.SqlClient" connectionString="Data Source=KEN-PC\SQLEXPRESS;Initial Catalog=CatPicker;Integrated Security=True" />
    <add name="CatDetailContext" providerName="System.Data.SqlClient" connectionString="Data Source=KEN-PC\SQLEXPRESS;Initial Catalog=CatPicker;Integrated Security=True" />
    <add name="CatPersonalityContext" providerName="System.Data.SqlClient" connectionString="Data Source=KEN-PC\SQLEXPRESS;Initial Catalog=CatPicker;Integrated Security=True" />
    <add name="CatBreedContext" providerName="System.Data.SqlClient" connectionString="Data Source=KEN-PC\SQLEXPRESS;Initial Catalog=CatPicker;Integrated Security=True" />
    <add name="CatLocationContext" providerName="System.Data.SqlClient" connectionString="Data Source=KEN-PC\SQLEXPRESS;Initial Catalog=CatPicker;Integrated Security=True" />
  </connectionStrings>
  
</configuration>